.new-tweet {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.textbox {
  width: 80vw;
  resize: none;
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom:  3px solid;
}

.button {
  background-color: #1a1a1a;
  color: #a6a6a6;
}

.button-word-counter {
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .new-tweet {
    width: 40vw;
    margin-top: 140px;
  }

  .textbox {
    width: 40vw;
  }
}