.new-tweet {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.textbox {
  width: 1000px;
  resize: none;
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom:  3px solid;
}

.button {
  background-color: #1a1a1a;
  color: #a6a6a6;
}

.button-word-counter {
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
}